*.idea
__pycache__/
*.pyc

.DS_Store
docker-compose*
odoo-migration.conf
*.csv
*.mdt

# Documentation
*.md

# Scripts locaux
scripts/
odoo.conf

# Dossiers temporaires
docs/

# Environnement local
odoo-v17.conf
filestore/
staging_backup/
staging_dump.*
*.zip
