.header_freemoov{
	.btn_cta {
		display: none;
	}
	.cc_header_freemoov{
		padding-top :15px;
		padding-bottom :15px;
		.header_icon{
			.nav-item {
				.navbar_toggler.btn {
					background-image: linear-gradient(map-get($theme-colors, 'primary'),map-get($theme-colors, 'secondary'));
					&:focus {
					    box-shadow: none;
					}
				}
				.badge.text-bg-primary {
					background-color: #233E8D !important;
				}
			}
			@media (max-width: 991.98px){
				.nav-item{
					.nav-link{
						padding: 0.5rem 0.3rem;
					}
				}
			}
		}
		.o_searchbar_form {
		    max-width: 520px;
    		margin-left: auto;
    		width: 100%;
			.input-group {
				border-radius: 8px;
				background-color: #F5F6F7;
			    overflow: hidden;
				input {
					background-color: transparent;
					font-size: 13px;
				}
				.form-control:focus {
					box-shadow: none;
				}
			}
		}
		.o_wsale_my_cart{
	    	align-self: unset !important;
		}

		#top-menu-collapse {
			height: 100vh;
			top: -28px;
			
			.modal-dialog {
				max-width: 100%;
				.modal-content {
					background-image: linear-gradient(map-get($theme-colors, 'primary'),map-get($theme-colors, 'secondary'));
					padding: 25px 60px 25px 60px;
					@media (max-width: 991.98px) {
						padding: 25px 20px 25px 20px;
					}
					text-transform: uppercase;
					.btn-close {
						opacity: 1;
    					filter: brightness(0) invert(1);
					}
					ul {
						li.nav-item > {
							a.nav-link {
								font-size: 32px;
    							font-weight: bold;
    							color: #fff;
								cursor: pointer;
								margin-bottom: 10px;
								font-style: italic;
							}
							ul.dropdown-menu{
								background-image: linear-gradient(rgb(9, 157, 93), rgb(122, 193, 68));
								text-transform: uppercase;
								li{
									.dropdown-item{
										color: #fff !important;
    									font-weight: 600;
    									&:hover{
    										background-color: #0000;
    									}
									}
								}
							}
						}
						@media (max-width: 991.98px) {
							text-align: center;
							li.nav-item > {
								a.nav-link {
									font-size: 32px;
								    white-space: normal;
								}
							}
						}
					}
					.login-buttons{
						.btn{
							font-size: 16px;
						    text-transform: lowercase;
						    font-weight: 600;
						    border-radius: 20px;
						    padding: 5px 25px;
						}
						@media (max-width: 767.98px){
							.btn{
							    padding: 5px 16px;
							}
						}
					}
				}
			}
		}

		#top-menu-collapse-sub-category {
			height: 100vh;
			.modal-dialog {
				max-width: 100%;
				padding-top: 0;

				.modal-content {
					height: 100vh;
					background-image: linear-gradient(map-get($theme-colors, 'primary'),map-get($theme-colors, 'secondary'));
					padding: 25px 60px 25px 60px;
					@media (max-width: 991.98px) {
						padding: 25px 20px 25px 20px;
					}
					text-transform: uppercase;
					.btn-close {
						opacity: 1;
    					filter: brightness(0) invert(1);
					}
					.modal-title{
						font-size: 32px;
					    font-weight: bold;
					    color: #fff;

						.nav_link:hover {
							text-decoration: none;
							color: #fff !important;
							cursor: pointer;
						}
					    @media (max-width: 991.98px) {
					    	padding-bottom: 10px !important;
					    }
					}
					.modal-body{
						.cat-brand{
							p{
								color: #C5DA3D;
							    text-transform: capitalize;
							    font-weight: 600;
							}
							.category-box, .brand-box{
								ul{
									li{
										.nav-link{
											font-size: 28px;
										    text-transform: uppercase;
										    color: #fff;
											margin-bottom: 10px;
											font-style: italic;
										}
									}
									@media (max-width: 991.98px) {
										text-align: center;
										li.nav-item > {
											a.nav-link {
												font-size: 28px;
											    white-space: normal;
											}
										}
									}
								}
							}
						}
					}
					.buttons{
						.btn{
							font-size: 16px;
						    text-transform: capitalize;
						    font-weight: 600;
						    border-radius: 20px;
						    padding: 5px 25px;
						}
						@media (max-width: 767.98px){
							.btn{
							    padding: 5px 16px;
							}
						}
					}
				}
			}
		}
	}
}
.o_wsale_my_wish.nav-item.o_wsale_my_wish_hide_empty.d-none {
	display: block !important;
}
.visit .detail { 
	.fa {
		position: relative;
	}
	.fa-map-marker {
		top : 5px;
		right: 5px;
	}
	.fa-clock-o {
		top: 3%;
		right: 9px;
	}
}